*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header part start */
header{
    
}

.header-div{
    width: 100%;
    height: 80px;
    background-color:#FFFFFF;
    display: flex;
    position: fixed;
    z-index: 10;
   
}
.logo{
    background-color: #FFFFFF;
    flex: 30%;}
.nav{
    flex: 70%;
}
header .logo .logo1{
   padding: 25px;
   margin-left: 150px;
}
header ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 25px;
    
}
header ul li a{
    text-decoration: none;
}
header ul li a h6{
    
    padding: 10px;
    color: black;
    font-size: 15px;
    font-weight:600;
    
}
header ul li a h6:hover{
    color:#7F97FF;
    transition: all 0.35s ease-in;
    
}
/* header part end */

/*  section one start */

.section-1{
    background-color: #f9f9ff;
    width: 100%;
    display: flex;
    padding-top:100px ;
    
}
.section-1 .part-1{
    flex: 1;
    background-color: ;
}
.section-1 .part-2{
    flex: 1;
    background-color: ;
}
.section-1 .part-2 img{
    margin-top: 30px;
    max-width: 100%;
    height: auto;
    width: 80%;
    margin-bottom: 20px;
}
.part-1{
    margin-left: 170px;
    margin-top: 80px;
}

.section-1 .part-1 .first-h2{
    font-weight: normal;
    font-size: 15px;
    font-family: sans-serif;
    color: black;
    
}
.section-1 .part-1 .first-h1{
    font-size: 60px;
    font-family: sans-serif;
    color: black;
    margin-top: 50px;
}
.section-1 .part-1 .first-p{
    color: rgba(78, 78, 78, 0.7);
    margin-top: 50px;
}
.section-1 .part-1 .first-btn{
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #8393ff;
    border: none;
    
}
.section-1 .part-1 .first-a .first-btn:hover{
    background-color: #8293ff;
    color: white;
    transition: all 0.25s ease-in;
    transform: scale(1.05);
    border: 1px solid rgba(130, 147, 255, 0.5);
    box-shadow: 0 8px 12px 0 rgba(0,0,0, 0.5);
}
.section-1 .part-1 .first-a .first-btn{
    text-decoration: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    
}

/*  section one end */


/*  section 2nd start */

.section-2{
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}
.section-2 .part-3{
    flex: 1;
}
.section-2 .part-4{
    flex: 1;
    padding: 100px;
    margin-top: 50px;
}
.section-2 .part-3 img{
    width: 90%;
    margin-top: 150px;
    margin-left: 100px;
}
.section-2 .part-4 .second-h2{
    font-weight: normal;
    font-size: 15px;
    font-family: sans-serif;
    color: black;
}
.section-2 .part-4 .second-h1{
    font-size: 40px;
    font-family: sans-serif;
    color: black;
    margin-top: 50px;
    font-weight: bold;
}
.section-2 .part-4 .second-p{
    color: rgba(78, 78, 78, 0.7);
    margin-top: 50px;
}
.section-2 .part-4 .second-btn{
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #8393ff;
    border: none;
}
.section-2 .part-4 .second-a .second-btn{
    text-decoration: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    
}
.section-2 .part-4 .second-a .second-btn:hover{
    background-color: #8293ff;
    color: white;
    transition: all 0.25s ease-in;
    transform: scale(1.05);
    border: 1px solid rgba(130, 147, 255, 0.5);
    box-shadow: 0 8px 12px 0 rgba(0,0,0, 0.5);
}

/*  section 2nd end */
/*  section 3rd start */

.section-3{
    background-color:#f9f9ff ;
}

.section-3 .section-3-h1{
    font-size:40px;
    color: rgba(0,0,0, 0.9);
    text-align: center;
    padding-top: 50px;
    
    
}
.section-3 .section-3-p{
    text-align: center;
    padding-bottom: 50px;
}

.section-3 .service{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
   padding: 0px 150px 150px 150px;
   background-color: #f9f9ff;

    
}
.section-3 .svc{
    padding: 70px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 5px 10px 10px #ddd;
}
.section-3 .svc:hover{
    /* background-color: #8293ff; */
    /* color: white; */
    transition: all 0.25s ease-in;
    transform: scale(1.05);
    border: 1px solid rgba(130, 147, 255, 0.5);
    /* box-shadow: 0 8px 12px 0 rgba(0,0,0, 0.5); */
}
.section-3 i{
    color: rgba(0,0,0,0.7);
    font-size: 45px;
    font-weight: 900px;
    display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 5px;
}

.section-3 div .i-h{
    font-size: 20px;
    display: flex;
   flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}


/*  section 3rd end */


/*  section 4th start */

.section-4-h1{
    font-size: 40px;
    color: rgba(0,0,0,0.9);
    text-align: center;
    font-family: sans-serif;
    margin-top: 80px;
}
.section-4-p{
    color: rgba(0,0,0, 0.7);
    text-align: center;
    margin-bottom: 150px;
    margin-top: 10px;
    font-family: sans-serif;
}
.section-4{
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-4 .project{
    display: grid;
    grid-template-columns: auto auto;
    
}
.section-4 img{
    align-items: center;
    width: 450px;
    border-radius:10%;
    margin-top: -80px;
    height: 350px;
    width: 300px;
    
}
.section-4 .project .project-left{
    margin-right:100px ;
}
.section-4 img:hover{
    /* background-color: #8293ff;
    color: white; */
   
    transition: all 0.25s ease-in;
    transform: scale(1.05);
    border: 1px solid rgba(130, 147, 255, 0.5);
    /* box-shadow: 0 8px 12px 0 rgba(0,0,0, 0.5); */
}

.section-4 .project .project-h1{
    font-size: 20px;
    text-align: center;
    color: rgba(0,0,0,0.9);
    font-family: sans-serif;
    margin-top: 10px;
}
.section-4 .project .project-p{
    font-size: 20px;
    text-align: center;
    color: rgba(0,0,0,0.7);
    margin-bottom: 100px;
}

/*  section 4th end */

/*  section 5th start */

.plan-h1{
    font-size:35px ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
 }
 .plan-p{
     text-align: center;
 }
 
 .section-5{
     display: grid;
     grid-template-columns: auto auto auto;
     gap: 40px;
     padding: 50px 150px;
     margin-bottom: 100px;
     
 }
 .section-5 .section-5-part-1{
     background-color: rgb(249, 249, 255);
     width: 300px;
     height: 600px;
     text-align: center;
     border: 1px solid rgba(0,0,0, 0.1);
 }
 .section-5 h1{
     font-size: 50px;
     font-family: Arial, Helvetica, sans-serif;
     color:#000000;
     margin-top:50px ;
 }
 .section-5 .section-5-h2{
     font-size: 1.5em;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
     color:#000000;
     margin-top:50px ;
 }
 .section-5 .section-5-p{
     font-family: Arial, Helvetica, sans-serif;
     margin-top: 10px;
     margin-bottom: 10px;
 }
 .section-5 .section-5-a .section-5-btn{
     outline: none;
     background-color: #8293ff;
     color: white;
     font-size: 25px;
     padding: 6px 60px;
     font-weight: bold;
     border: 1px solid white;
     cursor: pointer;
     margin-top: 40px;
 }
 .section-5 .section-5-part-3{
     text-align: center;
 }
 .section-5 .section-5-part-2{
     text-align: center;
 }
 .section-5 .section-5-part-1:hover{
     background-color: #8293ff;
     color: white;
     transition: all 0.25s ease-in;
     transform: scale(1.05);
     border: 1px solid rgba(130, 147, 255, 0.5);
     box-shadow: 0 8px 12px 0 rgba(0,0,0, 0.5);
 }
 .section-5 .section-5-a .section-5-btn:hover{
     background-color: #FFFFFF;
     color: black;
 }
 .section-5 .section-5-part-2{
     background-color: rgb(249, 249, 255);
     width: 300px;
     height: 600px;
     text-align: center;
     border: 1px solid rgba(0,0,0, 0.1);
 }
 .section-5 .section-5-part-2:hover{
     background-color: #8293ff;
     color: white;
     transition: all 0.25s ease-in;
     transform: scale(1.05);
     border: 1px solid rgba(130, 147, 255, 0.5);
     box-shadow: 0 8px 12px 0 rgba(0,0,0, 0.5);
 }
 .section-5 .section-5-part-3{
     background-color: rgb(249, 249, 255);
     width: 300px;
     height: 600px;
     text-align: center;
     border: 1px solid rgba(0,0,0, 0.1);
 }
 .section-5 .section-5-part-3:hover{
     background-color: #8293ff;
     color: white;
     transition: all 0.25s ease-in;
     transform: scale(1.05);
     border: 1px solid rgba(130, 147, 255, 0.5);
     box-shadow: 0 8px 12px 0 rgba(0,0,0, 0.5);
 }

/*  section 5th end */


/*  footer section start */

footer{
   display: grid;
   grid-template-columns: auto auto auto;
    width: 100%;
    height: 400px;
    background-color: rgb(4, 9, 30);
    
}

footer .about{
   width:400px;
   color: ;
   margin-top:150px ;
   margin-left: 100px;
}
footer .about .footer-h2{
    color: #FFFFFF;
    font-size: 1.17em;
    font-family: sans-serif;
    margin-bottom: 20px;
}
footer .about .footer-p{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}
footer .about span{
    color: rgba(255, 255, 255, 0.5);
    
}



footer .letter{
    width: 400px;
    margin-top:150px ;
}
.letter .footer-h2{
    color: #FFFFFF;
    font-size:1.17em ;
    font-family: sans-serif;
    margin-bottom: 15px;
}
.letter .footer-p{
    color: rgba(255, 255, 255, 0.5);
    font-family: sans-Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}
.letter input{
    padding:10px 150px 10px 10px;
    border: none;
    outline: none;
    border-radius: 0;
}
.letter a .footer-btn{
    font-size: 18px;
    color: white;
    background-color: #8293ff;
    outline: none;
    border: none;
    cursor: pointer;
    padding:7px 15px;
}
}

footer .follow{
    margin-top:150px ;
}

.follow .footer-h2{
    color: #FFFFFF;
    font-size: 1.17em;
    font-family:sans-Arial, Helvetica, sans-serif ;
    margin-top: 150px;
    margin-bottom: 15px;
}
.follow .footer-p{
    color: rgba(255, 255, 255, 0.5);
    font-family:sans-Arial, Helvetica, sans-serif ;
    margin-bottom: 15px;
}
footer .footer-icon .footer-ul li{
    font-size: 20px;
    font-weight: 400;
    list-style: none;

}
footer .footer-icon .footer-ul{
    display: flex;
    gap: 10px;
    
    
}
footer .footer-icon .footer-ul li a{
    color: #FFFFFF;
}
footer .footer-icon .footer-ul li a:hover{
    color: #8293ff;
}

/*  footer section end */